.haut{
    border: solid 3px orange;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
button{ font-size: 30px;
    border: solid orange 2px;

}
.logo{
    background-image: url("https://www.bakeli.tech/wp-content/uploads/2021/03/cropped-logo-bakeli-3.png");
    width: 130px;
    height: 130px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    border: 1px solid orange;
    border border-radius: 100%;
    margin-top: -50px;
    margin-bottom: 11px;
    margin left:10px;
    
}
.slide{
    border: solid gray;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: xx-large;
    line-height: 250px;
    text-align: center;
    height: 350px;
    background-color: gray;
}
